@import "~scss/vars";
@import "~scss/mixins";
@import "~scss/placeholders";

:host {
    @extend %host;
    height: $nav-bar-height;
    background-color: $main-color;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
    .svg-logo {
        height: 100%;
        width: 115px;
        line-height: 50px;
    }
}
