button, .btn {
    cursor: pointer;
    padding: .6rem 2.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    &.btn-success {
        background-color: rgb(74, 187, 88);
        border-color: rgb(74, 187, 88);
    }
    &.btn-danger {
        background-color: rgb(180, 72, 71);
        border-color: rgb(180, 72, 71);
    }
    .input-group-btn &{
        padding: .375rem .75rem;
        border: 1px solid #ced4da;
    }
}